// @import "./vars";

// @mixin flexCenter($direction, $background) {
//     display: flex;
//     flex-direction: $direction;
//     justify-content: center;
//     align-items: center;
// }

// @mixin backgroundRed {
//     background: red;
// }

// header {
//     @include flexCenter(column, red);
//     @include backgroundRed;
//     font: optional;
//     button {
//         background: $primaryBtn;
//     }
// }

// div {
//     @extend header;
//     background: blue;
// }

.flex-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}